[run]
branch=True
omit=
    */venv/
    */tests/
    */staticfiles/
    */migrations/
    */__init__.py
    */apps.py
    */literals.py
    */settings.py
    */urls.py
    */admin.py
    */tests.py
    */test_setup.py

[report]
show_missing = True
skip_covered = True
exclude_lines=
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
[html]
directory = coverage_html_report