{% extends 'base.html' %} {% block content %}
<center>
  <p>Hi {{name}},</p>

  <p>
    You recently requested to reset the password for your account. Click the
    button below to proceed.
  </p>
  <p>
    click <a href="{{link}}">here</a> or paste the link below in your browser
  </p>
  <p>{{link}}</p>
  <p>
    If you did not request a password reset, please ignore this email or reply
    to let us know. This password reset link is only valid for the next 30
    minutes.
  </p>

  <p>Thanks, the [customer portal] team</p>
</center>
{% endblock %}
